<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background: rgba(0, 0, 0, .3);
            }

            h1 {
                color: green;
            }

            li {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>3-18-2018 Summary</h1>
        <ul>
            <li>e.target references current target for event delegation</li>
            <li>e.target.classList.item[index] retrieves classes on all browsers.
                The value property only works in chrome/firefox. 
                Event delegation can be simulated using if statements with vanilla
                js.
            </li>
            <li>With vanilla JS, nodelist creates a tree structure that 
                can be accessed using chained selector methods like 
                element.lastchild.lastchild.firstchild.etc
            </li>
            <li>Do not use innerHTML to assign user input - easily exploited
                because it sets the actual html on the page
            </li>
            <li>ie11 and down do not support node.remove().</li>
            <li>metaphors for software development help to enhance understanding of 
                the process and reduce costs. There are both bad and good metaphors 
                depending on the size/type of task - bad metaphors restrict progress, 
                like the earth-central view of solar system, while good models 
                allow progress to proceeed, like the sun-centric 
                solar system model. 
            </li>
            <li>box-sizing: border-box is a CSS property that calculates element sizes
                by including the padding and border into the entire size caluclation
            </li>
            <li>Back-end development creates dynamic webpages that deliver content based 
                on server requests - ie PUT, GET, etc. 
            </li>
        </ul>

        <h1>3-19-2018 Summary</h1>
        <ul>
            <li>Different web applications require different kinds of planning - 
                the more complicated the app, the more planning will reduce costs
            </li>
            <li>There is no one specific tool to use for all problems - the correct 
                software stack should be chosen based on best fit.
            </li>
            <li>Quality must be emphasized throughout the development process. Testing 
                cannot modify a program's fundamentals - testing can make sure that 
                a toyota prius runs perfectly, but can't turn that prius into 
                a BMW coupe. 
            </li>
            <li>cloud 9 cloud development environment - IDE + all project files 
                can run on a separate machine. Setup of cloud development environment
            </li>
            <li>Command line basics for back-end navigation: mkdir, cd, ls, touch, 
                node, rm, rm -rf flag, directory/file creation and navigation.
            </li>
            <li>running js apps via node - very similar to running javascript 
                in the browser, but no document object/methods related to browsers
            </li>
            <li>basics of npm packages/libraries - most apps are built and written 
                with the support of a large set of packages in addition to just 
                the basic javascript
            </li>
            <li>Numbers, Strings, Booleans, Null, Undefined are all simple types 
                and immutable. All other types of data are Objects. This includes 
                things like arrays, functions, and regexp. 
            </li>
            <li>An object property's value can be obtained from any expression, 
                including other objects, Objects can be nested.
            </li>
        </ul>

        <h1>3-20-2018 Summary</h1>
        <ul>
            <li>objects - use || operator to fill in default values for objects 
                when there is no property that exists for a certain object. 
                The && object guards against retrieving properties from 
                objects that do not exist
            </li>
            <li>node.js - starting node servers, basic echo exercise plus 
                writing node programs, and 
                using the command line to start node server. node server can be started
                by using command [node app.js]. Can include a console.log to verify that 
                the server started. Will run standard javascript with express routes.
            </li>
            <li>NPM - how to import different packages as well as how to 
                use the API for those packages, how to install and read docs 
                for packages. npm install [package name]
            </li>
            <li>Express framework - use require("express") and app = express() to 
                set up framework. Set up routes using app.get([path], [function(req, res)])
            </li>
            <li>npm init creates a package.json file, which contains metadata info about the app 
                we are making. NPM init automatically creates a pack.json file for us
                and sets most everything up. 
                Includes a list of dependencies (npm packages needed to run the app) 
                which can be automatically added to the package.json as you install them
                if you include the --save flag, ie npm install express --save
            </li>
            <li>creating routes using [app.get("/string/:xx", function(req, res))]. 
                Adding : (colon) indicates the word can vary, and can be retrieved using 
                [req.params.xx]. Params is a large object containing all the 
                required properties info of the web page.
            </li>
            <li>the "*" modifier catches all routes, but since server routes are 
                processed in order, putting a wildcard app.get as the first function 
                will prevent all other functions from running. Only the first 
                matching app.get will run. 
            </li>
        </ul>

        <h1>3-21-2018 Summary</h1>
        <ul>
            <li>Algorithm - when comparing a single variable to another literal using 
                if...=== statements, it becomes more efficient to definte an object literal
                (dictionary) with key:value pairs to compare. 
            </li>
            <li>The const variable can be block-scoped like let, and is an immutable 
                variable. Cannot be reassigned within its current scope. 
            </li>
            <li>[var obj2 = Object.create(obj) creates a prototype/decendant of obj
                and assigns it to obj2. obj2 will have all the properties/methods of obj.
                If obj's properties/methods are reassigned or overwritten, 
                obj2 will update with those same properties. obj2's properties can 
                also be written over and those will take precedence. 
            </li>
            <li>embedded Javascript - .ejs files allow res.render to send an 
                actual html file to the browser. <% %> allows embedding of 
                javascript into HTML, while <%= actually renders the javascript 
                on the page. The package must be installed via npm install ejs --save.
                res.render("home.ejs", {property, variable}) - syntax to set for EJA to 
                render javascript variables onto the page. <%= property %> will show the variable. 
            </li>
            <li>folders can be creaed for templates and other css/js files. 
                Views folder contains all EJS templates.
            </li>
            <li>app.use(express.static("public")); will make node look in public folders</li>
            <li>app.set("view engine", "ejs"); removes the need to type .ejs at 
                the end of every ejs file
            </li>
                SRC in html5 specs allow 2 global attributes in html - defer and async
                without those 2 attributes, the SRC embeds directly into the HTML.
                <br>href is a reference to info for the current page - parsing 
                of html is not stopped
            </li>
            <li>
                app.post - use npm install body-parser --save to add the ability to 
                parse submitted information into an object
                <br>var bodyParser = require("body-parser");
                <br>app.use(bodyParser.urlencoded({extended:true}));
                <br>add the two above to get info from req.body.[name], 
                where name is equal to the value defined in html input.
            </li>
        </ul>

        <h1>3-22-2018 Summary</h1>
        <ul>
            <li>API's - application programming interface allows web app to retrieve 
                information from various databases around the web 
            </li>
            <li>npm install request + var request = require("request"); sets up API call </li>
            <li>request(endpoint, function(error, response, body) {
                <br>if (!error && response.statusCode == 200) {} 
                <br>sets up an api call to the web address specified at endpoint 
            </li>
            <li>some API's require keys. All API's return data in the form of either
                JSON or XML, with JSON being the dominant format. JSON must be parsed 
                into a javascript object using var x = JSON.parse(body);
            </li>
            <li>endpoints differe but all have the structure of 
                <br>www.xxxxx.com?r=title&plot=true&etc=etc&webapi=w23221
            </li>
        </ul>

        <h1>3-23-2018 Summary</h1>
        <ul>
            <li>./mongod starts mongo DB server, mongo gives stats</li>
            <li>mongodb commands: 
                <br>show dbs 
                <br>use demo creates or uses database "demo"
                <br>db.dogs.insert({name: "Rusty", breed: "Mutt"})
                <br>db.dogs,find(parameter)
                <br>db.dogs.delete will delete all matched parameters, use .limit to control how many deleted
                <br>db.dogs.update({name: "Rusty"}, {$set: {name:"Tater", isCute: true}}) will update without 
                replacing all fields, only specified fields
            </li>
        </ul>

        <h1>3-25-2018 Summary</h1>
        <ul>
            <li>RESTful routing - 7 different routes with a consistent development pattern</li>
            <li>different css libraries for different purposes - Bootstrap, Semantic-ui, etc</li>
            <li>moongoose setup: 
                <br>
                var blogSchema = new mongoose.Schema({
                    title: String,
                    image: String,
                    body: String,
                    created: {type: Date, default: Date.now}
                });
                var Blog = mongoose.model("Blog", blogSchema);
            </li>
            <li>req.params.xx is used to retrive RESTful web route paramaters, like 
                <br>www.reddit.com/dogs/:xxxxx <-- retrieves :xxxxx
                <br>req.body.xx is used to retrive info from forms from name attribute. 
                The name attributes can be grouped together using syntax 
                name="blog[title]", which can later be retrieved using either 
                req.body.blog or req.body.blog.title
            </li>
        </ul>

        <h1>3-27-2018 Summary</h1>
        <ul>
            <li>node.js app dependencies %%%
                <br>"body-parser": "^1.18.2", - parses req.params.id/body- app.use(bodyParser.urlencoded({extended: true}));
                <br>"ejs": "^2.5.7", - app.set("view engine", "ejs"); (no require required)
                <br>"express": "^4.16.3",
                <br>"method-override": "^2.3.10", var methodOverride  = require("method-override"); app.use(methodOverride("_method"));
                <br>"mongoose": "^5.0.11" mongoose.connect("mongodb://localhost/restful");
                <br>"request": "^2.85.0" request(endpoint, function(err, response, body));
                <br>"express-sanitizer": "^1.0.3", app.use(expressSanitizer()); - must come after body-parser
                <br>Changing <%= top <%- will run all inputted text as code rather than displaying string
                <br>nodemon - runs app.js and automatically listens for any file changes
                <br>npm install --save-dev gulp, the save-sev flag installs it as a dev dependency (rather than build dependency)
                <br>flash: flash = require('connect-flash'), app.use(flash());  
                <br>add flash + variables to local(global) template - 
                <br>app.use(function req, res, next){
                <br>res.locals.currentUser = req.user;
                <br>res.locals.error = req.flash("error");
                <br>res.locals.success = req.flash("success");
                <br>next();
                <br>}
                <br>========================================= Authentication packages
                <br>"body-parser": "^1.18.2",
                <br>"express": "^4.16.3",
                <br>"express-session": "^1.15.6",
                <br>"mongoose": "^5.0.12",
                <br>"passport": "^0.4.0",
                <br>"passport-local": "^1.0.0",
                <br>"passport-local-mongoose": "^5.0.0"
                <br>"ejs": "^2.5.7"
                <br>Auth packages: npm install passport passport-local passport-local-mongoose express-session --save
            </li>
        </ul>

        <h1>3-28-2018 Summary</h1>
        <ul>
            <li>
                ObjectId references: comments: [
                <br> type: mongoose.Schema.Types.ObjectID,
                <br>red:"Comment"
                <br>]
            </li>
            <li>populating mongo objectId references: 
                <br>Campground.findById(req.params.id).populate("comments").exec(function(err, campground){
            </li>
        </ul>

        <h1>3-30-2018 Summary</h1>
        <ul>
            <li>Middleware - is executed before the callback function when accessing a route</li>
            <li>can be created as a function and passed as a parameter inbetween the route string and callback</li>
            <li>or passed in automatically using:
                <br>app.use(function(req, res, next){
                <br>res.locals.currentUser = req.user;
                <br>next();
                <br>});
            </li>
        </ul>

        <h1>4-2-2018 Summary</h1>
        <ul>
            <li>GIT commands : git commit, git init, git add . (adds all) or git add [filename]</li>
            <li>git log returns full commit history</li>
            <li>Reverting changes: $git revert --no-commit 3bc4287bd80f490c77462407c719b5b68bc31ffe..HEAD</li>
            <li>Gulp - gulp.task("default", ["task1", "task2", 'task3']); will run all defined tasks at once with gulp (gulp by itself will run default</li>
        </ul>
            
    </body>
</html>